@model StemProjectV3.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abstract" class="control-label"></label>
                <input asp-for="Abstract" class="form-control" />
                <span asp-validation-for="Abstract" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectDate" class="control-label"></label>
                <input asp-for="ProjectDate" class="form-control" />
                <span asp-validation-for="ProjectDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Mentors:
                <div class="col-md-offset-2 col-md-10">
                    <table>
                        <tr>
                            @{ 
                                int cnt = 0;
                                List<StemProjectV3.Models.SchoolViewModels.AssignedMentorData> mentors = ViewBag.Mentors;
                                foreach (var mentor in mentors)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedMentors"
                                               value="@mentor.ID"
                                               @(Html.Raw(mentor.Assigned ? "checked=\"checked\"" : ""))/>
                                               @mentor.ID @: @mentor.FirstName
                                    @:</td>
                                @:</tr>
                                }
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                Students:
                <div class="col-md-offset-2 col0md-10">
                    <table>
                        <tr>
                            @{ 
                                cnt = 0;
                                List<StemProjectV3.Models.SchoolViewModels.AssignedStudentData> students = ViewBag.Students;
                                foreach(var student in students)
                                {
                                    if(cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedStudents"
                                               value="@student.ID"
                                               @(Html.Raw(student.Assigned ? "checked=\"checked\"" : ""))/>
                                               @student.ID @: @student.FirstName
                                    @:</td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
